@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Raleway:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #f1f1f1;
}

header {
  text-align: center;
  padding: 40px 0;
}

header h1 {
  font-weight: 500;
}

header p {
  margin-top: 20px;
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.header-asraful {
  background-color: black;
  color: white;
  padding: 0 7px;
}

/* Main section */
/* First div */

.main-part {
  display: flex;
  gap: 2%;
  padding: 2%;
}

.blog {
  box-shadow: 0px 3px 10px #00000054;
  margin-bottom: 40px;
  background-color: white;
}

.blog-image img {
  width: 100%;
}

.blog .blog-content {
  padding: 10px;
}

.head-title {
  padding: 10px;
}

.title {
  padding: 10px;
  font-size: 20px;
  padding-bottom: 30px;
}

.date-time {
  opacity: 0.5;
}

.content {
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 30px;
  align-items: center;
}

.button {
  border: none;
  outline: none;
  padding: 15px 25px;
}

.button:hover {
  background-color: #cccccc;
}

.comment-number {
  background-color: black;
  color: white;
  padding: 0 5px;
}

.about {
  box-shadow: 0px 3px 10px #00000054;
  margin-bottom: 40px;
}

.my-image {
  width: 100%;
}

.about-me {
  padding: 20px;
  background-color: white;
}

aside .about-me .about-title {
  padding-bottom: 20px;
}

/* Aside bar */

.full-asidebar {
  box-shadow: 0px 3px 10px #00000054;
  margin-bottom: 40px;
}

.aside-title {
  background-color: #f1f1f1;
  padding: 30px 10px;
}

.aside-bar {
  display: flex;
  gap: 5%;
  padding: 10px;
  background-color: white;
  border-bottom: 2px solid #cccccc;
}

.aside-bar:hover {
  background-color: #cccccc;
}

.aside-bar:last-child {
  border-bottom: none;
}

.sidebar-image {
  width: 50px;
}

.aside-text {
  font-size: 12px;
}

.our-services {
  box-shadow: 0px 3px 10px #00000054;
}

.service-heading {
  padding: 10px;
  background-color: #cccccc;
}

.service-list {
  padding: 15px;
}

.list-item {
  color: black;
  background-color: #cccccc;
  display: inline-block;
  margin: 10px 3px;
  padding: 0 5px;
}

.service-list .list-item:first-child {
  background-color: black;
  color: white;
  padding: 3px 10px;
}

/* footer */

footer {
  background-color: #616161;
  padding: 20px;
}

.button-div {
  margin: 16px 0;
}

.btn {
  font-size: 16px;
  padding: 15px 20px;
  color: white;
  background-color: black;
  border: none;
  outline: none;
  cursor: pointer;
}

.previous-btn {
  cursor: not-allowed;
  opacity: 0.3;
}

.footer-element {
  margin-bottom: 16px;
}

.footer-text {
  color: white;
}

.footer-link {
  color: white;
  text-decoration: underline;
}
